<div class="container-fluid">
  <div class="row mt-5">
    <div class="mx-auto col-md-5">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" #title = "ngModel" [(ngModel)]="msg.title">
      </div>
      <div class="form-group">
        <label for="title">Description</label>
        <textarea name="" id="" cols="30" rows="8" class="form-control" name="description" #description = "ngModel" [(ngModel)]="msg.description"></textarea>
      </div>
      <div class="form-group">
        <label for="title">Alert Type</label>
        <select name="" id="" class="form-control" name="type" #type = "ngModel" [(ngModel)]="msg.type">
          <option value="warning">warning</option>
          <option value="success">success</option>
          <option value="error">error</option>
          <option value="question">question</option>
        </select>
      </div>
      <div class="float-right form-group">
        <button class="btn btn-primary px-5" (click)='sendAlert();'>Alerta</button>
      </div>
    </div>
  </div>
</div>
